{#

    Application footer content.

#}

<div class="container clearfix">
    <div class="footer-left pull-left">
        <div class="footer-menu">
            <ul class="clearfix">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>

        <div class="footer-copyright">
            © Copyright 2017, Wonderly, LLC.
        </div>
    </div>

    <div class="footer-right pull-right">
        <div class="footer-social">
            <ul class="clearfix">
                <li class="fs-fb"><a href="https://www.facebook.com/gowonderly"></a></li>
                <li class="fs-twitter"><a href="#"></a></li>
                <li class="fs-insta"><a href="https://www.instagram.com/gowonderly/"></a></li>
            </ul>
        </div>

        <div class="footer-contacts">
            <span>PO BOX 551 Calistoga, CA 94515</span>
            <span>hello@gowonderly.com</span>
        </div>
    </div>
</div>

