{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<body class="login">
    <div class="login-form">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
</body>
{% endblock fos_user_content %}
