.admin_table{
    overflow-x: hidden;
    width: 98%
}
@media only screen and (max-width: 860px) {
    .admin_table{
        overflow-x: auto;
        margin-left:1% ;
        margin-right: 1%;
        width: 98%
    }

}